#fieldset{
border:solid black;
background-color:#F5F5DC;
float:left;}

select{
font-size:1em;}

body{
background-color:grey}

legend{
background-color:#F5F5DC;
border:solid black}

div br{
padding-top:2em;}

h3{
padding:0em;
margin:0.2em;
text-decoration:underline;}

div{
background-color:#F5F5DC;
margin-left:2em;
width:20em;
border: solid black;
margin-top:1em;
float:left;}

input:invalid {
	background: white;
}
input:valid {
	background: white;
}
input:required {
	background: white;
}

#preis{
font-size:2em;
font-style:italic;}

.text{
font-size:1.2em;
text-decoration:underline;
font-style:italic;}