@charset "ISO-8859-1";
 /* Style the video: 100% width and height to cover the entire window */
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

/* Add some content at the bottom of the video/page */
.content {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 33%;
    padding: 20px;
}



div.transbox {
  margin: 30px;
  width: 320px;
  height: 200 px;
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.5;

}